<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.land.rest.mapper.EmployeeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.land.rest.model.EmployeeInfo" >
    <id column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="card_id" property="cardId" jdbcType="VARCHAR" />
    <result column="dob" property="dob" jdbcType="DATE" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="make_date" property="makeDate" jdbcType="DATE" />
    <result column="make_by" property="makeBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="spare_1" property="spare1" jdbcType="VARCHAR" />
    <result column="spare_2" property="spare2" jdbcType="VARCHAR" />
    <result column="spare_3" property="spare3" jdbcType="VARCHAR" />
    <result column="spare_4" property="spare4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    emp_id, name, sex, card_id, dob, age, degree, make_date, make_by, update_date, update_by, 
    spare_1, spare_2, spare_3, spare_4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.land.rest.model.EmployeeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employee_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee_info
    where emp_id = #{empId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee_info
    where emp_id = #{empId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.land.rest.model.EmployeeInfoExample" >
    delete from employee_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.land.rest.model.EmployeeInfo" >
    insert into employee_info (emp_id, name, sex, 
      card_id, dob, age, degree, 
      make_date, make_by, update_date, 
      update_by, spare_1, spare_2, 
      spare_3, spare_4)
    values (#{empId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{cardId,jdbcType=VARCHAR}, #{dob,jdbcType=DATE}, #{age,jdbcType=INTEGER}, #{degree,jdbcType=VARCHAR}, 
      #{makeDate,jdbcType=DATE}, #{makeBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, 
      #{updateBy,jdbcType=VARCHAR}, #{spare1,jdbcType=VARCHAR}, #{spare2,jdbcType=VARCHAR}, 
      #{spare3,jdbcType=VARCHAR}, #{spare4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.land.rest.model.EmployeeInfo" >
    insert into employee_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="dob != null" >
        dob,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="makeDate != null" >
        make_date,
      </if>
      <if test="makeBy != null" >
        make_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="spare1 != null" >
        spare_1,
      </if>
      <if test="spare2 != null" >
        spare_2,
      </if>
      <if test="spare3 != null" >
        spare_3,
      </if>
      <if test="spare4 != null" >
        spare_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="dob != null" >
        #{dob,jdbcType=DATE},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null" >
        #{makeDate,jdbcType=DATE},
      </if>
      <if test="makeBy != null" >
        #{makeBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="spare4 != null" >
        #{spare4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.land.rest.model.EmployeeInfoExample" resultType="java.lang.Integer" >
    select count(*) from employee_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update employee_info
    <set >
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.cardId != null" >
        card_id = #{record.cardId,jdbcType=VARCHAR},
      </if>
      <if test="record.dob != null" >
        dob = #{record.dob,jdbcType=DATE},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.degree != null" >
        degree = #{record.degree,jdbcType=VARCHAR},
      </if>
      <if test="record.makeDate != null" >
        make_date = #{record.makeDate,jdbcType=DATE},
      </if>
      <if test="record.makeBy != null" >
        make_by = #{record.makeBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=DATE},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.spare1 != null" >
        spare_1 = #{record.spare1,jdbcType=VARCHAR},
      </if>
      <if test="record.spare2 != null" >
        spare_2 = #{record.spare2,jdbcType=VARCHAR},
      </if>
      <if test="record.spare3 != null" >
        spare_3 = #{record.spare3,jdbcType=VARCHAR},
      </if>
      <if test="record.spare4 != null" >
        spare_4 = #{record.spare4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update employee_info
    set emp_id = #{record.empId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      card_id = #{record.cardId,jdbcType=VARCHAR},
      dob = #{record.dob,jdbcType=DATE},
      age = #{record.age,jdbcType=INTEGER},
      degree = #{record.degree,jdbcType=VARCHAR},
      make_date = #{record.makeDate,jdbcType=DATE},
      make_by = #{record.makeBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=DATE},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      spare_1 = #{record.spare1,jdbcType=VARCHAR},
      spare_2 = #{record.spare2,jdbcType=VARCHAR},
      spare_3 = #{record.spare3,jdbcType=VARCHAR},
      spare_4 = #{record.spare4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.land.rest.model.EmployeeInfo" >
    update employee_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="dob != null" >
        dob = #{dob,jdbcType=DATE},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null" >
        make_date = #{makeDate,jdbcType=DATE},
      </if>
      <if test="makeBy != null" >
        make_by = #{makeBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null" >
        spare_1 = #{spare1,jdbcType=VARCHAR},
      </if>
      <if test="spare2 != null" >
        spare_2 = #{spare2,jdbcType=VARCHAR},
      </if>
      <if test="spare3 != null" >
        spare_3 = #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="spare4 != null" >
        spare_4 = #{spare4,jdbcType=VARCHAR},
      </if>
    </set>
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.land.rest.model.EmployeeInfo" >
    update employee_info
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      dob = #{dob,jdbcType=DATE},
      age = #{age,jdbcType=INTEGER},
      degree = #{degree,jdbcType=VARCHAR},
      make_date = #{makeDate,jdbcType=DATE},
      make_by = #{makeBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR},
      spare_1 = #{spare1,jdbcType=VARCHAR},
      spare_2 = #{spare2,jdbcType=VARCHAR},
      spare_3 = #{spare3,jdbcType=VARCHAR},
      spare_4 = #{spare4,jdbcType=VARCHAR}
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
</mapper>